<div class="row">
    <div class="col-md-12">
        <h3>{{ category }}</h3>
    </div>
</div>
<div class="row packages">

    {% for package in packages %}
    <div class="col-sm-6 col-md-3 package">
        <div class="thumbnail">
            <img src="{{ offset }}{{ package.icon }}"
                 alt=" ">

            <div class="caption">
                <h3>{{ package.name }}</h3>

                <p>{{ package.description }}</p>

                <p>
                    <a href="#"
                       class="btn btn-primary btn-add-software"
                       role="button">Add
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>