{% extends "FlyBundle:Default:index.html.twig" %}

{% block content %}
    <form action="{{ path('fly_download') }}"
          method="POST">


        <div class="row">

            <div class="col-md-12 top15">
                <div class="form-group">
                    <input type="text"
                           name="filter"
                           class="form-control filter"
                           placeholder="Search">
                </div>
            </div>
        </div>
        <div class="row packages masonary menu">

            {% for application in applications %}

                <div class="list-group menu-category">
                    <div class="thumbnail">
                        <img src="{{ asset('bundles/fly/assets/') }}{{ application.icon }}"
                             alt="...">

                        <div class="caption">
                            <h3>{{ application.name }}</h3>

                            <p>{{ application.description }}</p>

                            <p>

                                <span
                                   class="btn btn-default btn-add-software"
                                   role="button">
                                    <input type="checkbox" name="applications[{{ application.id }}]" class="application-checkbox" />
                                    <span class="action">Add</span>  {{ application.name }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
        <div class="row">
            <div class="col-md-10 text-right">
                <span class="count-packages">0</span> Packages selected.
                <br/><br/>
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-primary btn-lg btn-block"
                        ><i class="fa fa-download"></i> Download
                </button>
            </div>
        </div>
    </form>

    <hr>
{% endblock %}

{% block header %}
    <div class="container">
        <div class="col-md-12">
            <h1 class="text-center">Automatic package installation and
                configuration</h1>

            <p class="text-center">Choose from the packages below to create your
                own package script for
                super fast package installation. <br/> At the moment we only
                support
                debian based distributions but there's more to come.</p>

            <p class="text-center">
                <a class="btn btn-primary btn-lg start-building"
                   role="button">Start building
                </a>
            </p>
        </div>
    </div>

{% endblock %}
